body{
    background-color: rgb(191, 231, 240);
    padding: 0 2 rem;
}

h1 {
   
    color:rgb(239, 137, 154);
}


h2 {
    color: rgb(108, 199, 255);
}

h3 {
    color:rgb(233, 87, 112);
}

h4 {
    color:rgb(214, 49, 76);
}

h5 {
    color:rgb(174, 31, 55);  
}

h6 {
    color:rgb(131, 14, 34);
}

p {
    color:rgb(239, 137, 154);
    text-indent: 02 rem;
}

a:hover{
    text-decoration: none;
    color:#effbfb
}

a:link{
    color:#e18b3a;
    text-decoration: underline;  
}
h1,h2,h3,h4{
    font-family: sans-serif;
    font-weight: bold;
}

ul li{
   color:rgb(239, 137, 154);
    margin: 1 rem 0
}

h2{
    text-transform: uppercase; 
}

h1 ~ p {
    font-size: 1.25rem;
}

.name-examples {
    width: 150px;
}